<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SqlDB.Properties.Settings>
            <setting name="SettingsSRV" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsDB" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsAutoClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsTable" serializeAs="String">
                <value />
            </setting>
        </SqlDB.Properties.Settings>
    </userSettings>
</configuration>